<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>The Ski Club... Guiding into the Canadian Rockies</string>
		<key>Filename</key>
		<string>5156276452_2cfb618fbd_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Tetons, Ski Tracks, and Skiers</string>
		<key>Filename</key>
		<string>6331878785_18c7b7ec58_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Cabin</string>
		<key>Filename</key>
		<string>7308126896_2343cf6c77_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Grand Combin</string>
		<key>Filename</key>
		<string>8373812062_3ae4bbba57_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Snowscape Spotlight</string>
		<key>Filename</key>
		<string>8490911477_2c5373b0af_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>White Pass Trees -- Lost Boys</string>
		<key>Filename</key>
		<string>8499805173_a07d06bf77_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>After work ski touring at 69 degrees north</string>
		<key>Filename</key>
		<string>8640812105_a283980b73_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>After work ski touring at 69 degrees north</string>
		<key>Filename</key>
		<string>8641915134_5b426b508b_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Golden Gates of Snowvalley Village</string>
		<key>Filename</key>
		<string>8703395116_3be1da1073_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Alpe d&apos;Huez</string>
		<key>Filename</key>
		<string>8902161587_a4dc8a71c9_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Fairy Meadow Skiing</string>
		<key>Filename</key>
		<string>11488691085_53f2f2df76_o.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Fairy Meadow Skiing</string>
		<key>Filename</key>
		<string>11488696954_ca7e5b0085_o.jpg</string>
	</dict>
</array>
</plist>
